#root{
    height: 100vh;
    width: 100%;
    background-color: #eaedf5
}
.active{
     background-color: antiquewhite;
}
@media (max-width:1101px) {
    .userHomePagHeader{
        justify-content: space-between;
    }
    .biddingMessageSection{
         left: calc(100vw - 1000px);
    }
}
@media (max-width:984px) {
    .biddinUI{
        flex-direction: column;
        align-items: center;
    }
    .biddingContainer{
        margin: 20px;
        width: 400px;
    }
}
/* @media (max-width:824px) {
    .biddingMessageSection{
         right: 380px;
    }
} */
@media (max-width:404px) {
    .biddinPriceSection{
         flex-direction: column;
         align-items: center;
         gap: 20px;
    }
    .biddingContainer{
        margin: 20px;
        width: 310px;
    }
}
